<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Home' %>

<% if signed_in? %>

    <ul class="nav nav-tabs">
      <li class="active">
        <%=link_to "Home",    root_path %>
      </li>
      <li><a href="#">Ricette</a></li>
      <li><a href="#">Menù</a></li>
      <li><%=link_to image_tag("rails.png", :border => 0, :alt => '', :title => ''), followers_user_path(current_user) %></li>
      <li><%= link_to "Profilo", current_user %></li>
      <li><%=link_to "Info",   faq_path %></li>
    </ul>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <%= render 'shared/post_form' %>
      <h3>Wall</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to FoodBook</h1>
      <%=link_to "Login", signin_path, class: 'btn btn-large btn-primary' %>
      <%= link_to 'Registrati', signup_path, class: 'btn btn-large btn-primary' %>
      <%=link_to "Info", faq_path, class: 'btn btn-large btn-primary' %>

      <h2>
        Sign up or login to start using FoodBook.
      </h2>

    </div>
<% end %>
